<h1>Edit an existing coffee order:</h1>
<%= form_with model: @coffee_order do |f| %>

   <%=  f.label :title %>
   <%=  f.text_field :title %>
   <br>
   <br>
   <%=  f.label :price %>
   <%=  f.number_field :price %>
   <br>
   <br>
   <%=  f.label :size %>
   <%=  f.text_field :size %>
   <br>
   <br>
   <%= f.submit %>

<% end %>