<% if @coffee_order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coffee_order.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @coffee_order.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Create a new coffee order:</h1>
<%= form_with model: @coffee_order do |f| %>

   <%=  f.label :title %>
   <%=  f.text_field :title %>
   <br>
   <br>
   <%=  f.label :price %>
   <%=  f.number_field :price %>
   <br>
   <br>
   <%=  f.label :size %>
   <%=  f.text_field :size %>
   <br>
   <br>
   <h3>Select a User:</h3>
   <%=  f.collection_select :user_id, User.all, :id, :name, prompt: true %>
   <h3>or Create a User:</h3>
   <%= f.fields_for :user do |u| %>
      <%=  u.label :name %>
      <%=  u.text_field :name %>
      <br>
      <br>
   <% end %>
   <%= f.submit %>

<% end %>